containers/n8n/workflows/gera_emails.json
{
  "name": "gera_emails",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        -48
      ],
      "id": "81c4ead1-16a5-4b5f-a2ed-91dbf3f03159",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Encontra Valores Problemáticos",
        "height": 464,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -240
      ],
      "id": "485c6f64-6471-4c77-9d20-c3ca7ca8f0d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, c.*, cl.*, (l.valor - {{ $json.media }} ) / {{ $json.desvio }} AS score_z\nFROM leituras l\nINNER JOIN contratos c ON l.fk_contratos = c.id\nINNER JOIN clientes cl ON c.fk_cliente = cl.id\nWHERE cl.tipo = 'F' AND c.status = 'ativo'\n--So se calcula o score z dos contratos ativos",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        -144
      ],
      "id": "c7d913fc-de88-4bb0-9497-71cd02eb2684",
      "name": "Calcula Score (F)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT AVG(l.valor) AS media, STDDEV(l.valor) AS desvio\n  FROM leituras l\n  INNER JOIN contratos c ON l.fk_contratos = c.id\n  INNER JOIN clientes cl ON c.fk_cliente = cl.id\n  WHERE cl.tipo = 'F'\n--Os valores para analise estatistica sao de todos os contratos, ativos ou nao",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        -144
      ],
      "id": "4d296c3d-cd4e-4a7b-aee0-f672f3a07cc8",
      "name": "Encontra Valores (F)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "## Nota sobre Queries:\nA maior parte das queries para encontrar os outliers tanto para pessoas físicas quanto jurídicas, poderíam ser feitas em uma query só. Não só poderiam, como DEVERIAM. Seria tudo mais eficiente e rápido.\n\nEscolhi não fazer em menos queries de propósito para deixar explícito tanto o raciocínio, como também a forma de implementar esse tipo de lógica no próprio n8n de forma clara e compartimentada.\n\nNo fim das contas é um projeto um pouco mais didático\n",
        "height": 240,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2224,
        -336
      ],
      "id": "9381a552-0630-43c8-8d47-ed561d8bb0f4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3f1f527-b36b-454a-9cab-3ffecb1f18cd",
              "leftValue": "={{ parseFloat($json.score_z) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        128,
        -192
      ],
      "id": "d89e972a-3018-411c-a84a-1df360929062",
      "name": "Maior que 3 (F)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3f1f527-b36b-454a-9cab-3ffecb1f18cd",
              "leftValue": "={{ parseFloat($json.score_z)}}",
              "rightValue": -3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        128,
        -64
      ],
      "id": "43ba3dac-0ad2-40b5-bb9f-22422dc37a5c",
      "name": "Menor que -3 (F)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -592,
        336
      ],
      "id": "c315b0c0-0af5-4061-a89d-71c71ec06adf",
      "name": "START"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH stats AS (\n  SELECT \n    AVG(l.valor) AS media, \n    STDDEV(l.valor) AS desvio\n  FROM leituras l\n  INNER JOIN contratos c ON l.fk_contratos = c.id\n  INNER JOIN clientes cl ON c.fk_cliente = cl.id\n  WHERE cl.tipo = 'F' \n), outliers AS (\n  SELECT \n    l.*, \n    c.*, \n    cl.*, \n    (l.valor - stats.media ) / stats.desvio AS score_z\n  FROM leituras l\n  INNER JOIN contratos c ON l.fk_contratos = c.id\n  INNER JOIN clientes cl ON c.fk_cliente = cl.id\n  CROSS JOIN stats\n  WHERE cl.tipo = 'F' AND c.status = 'ativo'\n)\nSELECT \n  *,\n  CASE\n    WHEN score_z >=3 THEN 'grande_de_mais'\n    WHEN score_z <=-3 THEN 'pequeno_de_mais'\n    WHEN valor IS NULL THEN 'leitura_vazia'\n  END AS problema_do_outlier\nFROM outliers WHERE ABS(score_z) >= 3 OR valor IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2192,
        0
      ],
      "id": "df518bea-040b-4d30-93cb-1a980773eb4f",
      "name": "...",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "Exemplo com uma query única\n",
        "height": 208,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2224,
        -48
      ],
      "id": "1d48f35b-6888-497a-9973-d79bf23fd296",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, c.*, cl.*\nFROM leituras l\nINNER JOIN contratos c ON l.fk_contratos = c.id\nINNER JOIN clientes cl ON c.fk_cliente = cl.id\nWHERE c.status = 'ativo' AND cl.tipo = 'F' AND l.valor IS NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        64
      ],
      "id": "759d0da6-ea3a-4e19-82b6-6fec7c99ea79",
      "name": "Leituras Vazias (F)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "## Classifica Problemas",
        "height": 464,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -240
      ],
      "id": "c3a67d90-9eb7-4686-bb6a-d9eb1129527b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Pessoas Físicas",
        "height": 656,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -384
      ],
      "id": "b5254bb7-15a7-4c2e-8e4f-6f8a31ba687a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Prepara Emails",
        "height": 336,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -240
      ],
      "id": "7b1c2bec-a949-481f-8b37-d917ec6898f4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Encontra Valores Problemáticos",
        "height": 464,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        768
      ],
      "id": "4a17ffec-d9f6-45d8-8a74-2fe8d49006fb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3f1f527-b36b-454a-9cab-3ffecb1f18cd",
              "leftValue": "={{ parseFloat($json.score_z) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        112,
        816
      ],
      "id": "07c8eb1b-7033-4ea9-80ef-485dd02f52fd",
      "name": "Maior que 3 (F)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3f1f527-b36b-454a-9cab-3ffecb1f18cd",
              "leftValue": "={{ parseFloat($json.score_z)}}",
              "rightValue": -3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        112,
        944
      ],
      "id": "504fa675-8f57-4859-a25f-7aa74b6d4766",
      "name": "Menor que -3 (F)1"
    },
    {
      "parameters": {
        "content": "## Classifica Problemas",
        "height": 464,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        768
      ],
      "id": "ea7f4416-3cc6-4c49-9d74-2d6489747d56",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Pessoas Jurídicas",
        "height": 656,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        624
      ],
      "id": "497de5ee-53a4-4e7a-b217-72b633766721",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Prepara Emails",
        "height": 272,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        768
      ],
      "id": "c3bb41a6-8d49-4293-85b9-9c0cb08ba84f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "path": "gera_emails",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1856,
        80
      ],
      "id": "d557381d-b91f-4019-9fd2-818044657072",
      "name": "Webhook",
      "webhookId": "ca5b8cf7-06ab-46a1-9c93-ceb7bc108ddb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT AVG(l.valor) AS media, STDDEV(l.valor) AS desvio\n  FROM leituras l\n  INNER JOIN contratos c ON l.fk_contratos = c.id\n  INNER JOIN clientes cl ON c.fk_cliente = cl.id\n  WHERE cl.tipo = 'J'\n--Os valores para analise estatistica sao de todos os contratos, ativos ou nao",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        864
      ],
      "id": "7762bc4c-fcc4-4124-b351-c618974d265b",
      "name": "Encontra Valores (J)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, c.*, cl.*, (l.valor - {{ $json.media }} ) / {{ $json.desvio }} AS score_z\nFROM leituras l\nINNER JOIN contratos c ON l.fk_contratos = c.id\nINNER JOIN clientes cl ON c.fk_cliente = cl.id\nWHERE cl.tipo = 'J' AND c.status = 'ativo'\n--So se calcula o score z dos contratos ativos",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        864
      ],
      "id": "01522982-9309-45f1-9a64-253971b5ae17",
      "name": "Calcula Score (J)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, c.*, cl.*\nFROM leituras l\nINNER JOIN contratos c ON l.fk_contratos = c.id\nINNER JOIN clientes cl ON c.fk_cliente = cl.id\nWHERE c.status = 'ativo' AND cl.tipo = 'J' AND l.valor IS NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        1072
      ],
      "id": "b8e58bd2-cfd4-4025-aacf-efd7aca6f987",
      "name": "Leituras Vazias (J)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ajuda@delfino.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Problemas de Leitura",
        "emailFormat": "text",
        "text": "={{ $json.message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1904,
        -96
      ],
      "id": "eac817bb-27da-4016-a094-a996846b0baf",
      "name": "Send email",
      "webhookId": "cec38e24-75f2-4023-9180-9be0d39c9a8a",
      "credentials": {
        "smtp": {
          "id": "k2T1l7faWNq1h8dU",
          "name": "My SMTP Account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1712,
        -96
      ],
      "id": "9a0f9d59-c2e5-462b-b84a-7ad2944e16b0",
      "name": "Merge4"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        544
      ],
      "id": "e2722e0d-f817-432e-81c1-d54abcd2b7c6",
      "name": "Merge5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_muito_alta",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $('Calcula Score (F)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $('Calcula Score (F)').item.json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $('Calcula Score (F)').item.json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $('Calcula Score (F)').item.json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $('Calcula Score (F)').item.json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $('Calcula Score (F)').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $('Calcula Score (F)').item.json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -192
      ],
      "id": "bd057653-e4b3-4ad7-9838-1045a689e85e",
      "name": "ALTA(F)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_muito_baixa",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $('Calcula Score (F)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $('Calcula Score (F)').item.json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $('Calcula Score (F)').item.json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $('Calcula Score (F)').item.json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $('Calcula Score (F)').item.json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $('Calcula Score (F)').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $('Calcula Score (F)').item.json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -64
      ],
      "id": "c6df809a-2e2c-441e-b109-cd07cc4f4693",
      "name": "BAIXA(F)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_vazia",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        64
      ],
      "id": "c25c13a6-2b38-45f1-bfc0-9e103aa87df5",
      "name": "NULL(F)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        288
      ],
      "id": "eb81841a-9366-4d5c-8527-cd3a636b64dd",
      "name": "REROUTE-NF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        288
      ],
      "id": "9dd84799-edc3-4654-97a5-6d4ff3ffa89d",
      "name": "REROUTE-BF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        288
      ],
      "id": "782c6bcb-ba1e-425f-b02d-39d57adc5f75",
      "name": "REROUTE-AF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        464
      ],
      "id": "373372f1-fa23-4265-a683-fff3ebde2616",
      "name": "REROUTE-AJ"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        464
      ],
      "id": "fb93ef8b-a264-4b20-85b6-96fcc3f0f7bf",
      "name": "REROUTE-BJ"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        464
      ],
      "id": "cc315ab9-3cbf-4fec-8702-db60f4bb3c56",
      "name": "REROUTE-NJ"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_muito_alta",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $('Calcula Score (J)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $('Calcula Score (J)').item.json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $('Calcula Score (J)').item.json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $('Calcula Score (J)').item.json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $('Calcula Score (J)').item.json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $('Calcula Score (J)').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $('Calcula Score (J)').item.json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        816
      ],
      "id": "ca7a5461-733a-4c24-94be-79054bd368b5",
      "name": "ALTA(J)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_muito_baixa",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $('Calcula Score (J)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $('Calcula Score (J)').item.json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $('Calcula Score (J)').item.json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $('Calcula Score (J)').item.json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $('Calcula Score (J)').item.json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $('Calcula Score (J)').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $('Calcula Score (J)').item.json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        944
      ],
      "id": "3c8ee840-11bb-4794-9960-91dbe5002e5a",
      "name": "BAIXA(J)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_vazia",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1072
      ],
      "id": "6c97b70c-22ed-4d5c-b513-bb9f42a5603e",
      "name": "NULL(J)"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        -80
      ],
      "id": "7fcfdff4-0261-4cc9-a47e-af768095ac68",
      "name": "LEITURAS(F)"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        928
      ],
      "id": "34b63e68-5fb5-4d4f-bd43-b3b153e2c782",
      "name": "LEITURAS(J)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um sistema automático de avisos para clientes de uma empresa de energia solar.\n\nUma leitura de um cliente foi identificada como um outlier e assim provavelmente foi uma falha ou erro.\n\nSeu dever é escrever um E-mail simpático porém formal informando o cliente sobre o ocorrido. Para clareza e completude inclua informações para que o cliente entenda qual contrato causou a leitura e que leitura foi essa, inclua também possíveis explicações ou recomendações para o cliente com base no tipo de problema identificado na leitura.\n\nSeguem as informações para você assinar o email:\n{\n  \"nome_da_empresa\": \"Delfino Sunshine LTDA.\",\n  \"email_para_contato\": \"ajuda@delfino.com\",\n  \"telefone_para_contato\": \"\"+55 11 4002-8922\",\n  \"seu_nome\": \"Pianta\",\n  \"seu_cargo\": \"Robô\"\n}\n\nTipos de problemas nas leituras:\n{\n  \"leitura_muito_alta\": {\n    \"possiveis_motivos\": \"aparelhos novos, mudança de rotina, inversores com defeito\",\n    \"recomendacoes\": \"monitore o consumo diário, chamar ajuda técnica\"\n  },\n  \"leitura_muito_baixa\": {\n    \"possiveis_motivos\": \"objetos bloqueando painéis, crescimento de vegetação, sujeira nos painéis, cabos soltos, inversores com defeito, paineis danificados\",\n    \"recomendacoes\": \"inspecionar visualmente os paineis, agendar limpeza\"\n  },\n  \"leitura_vazia\": {\n    \"possíveis_motivos\": \"problemas de conectividade, inversor desligado ou com defeito, disjuntores desarmados, cabos desconectados\",\n    \"recomendacoes\": \"verificar se o inversor está ligado e conectado na WiFi, reiniciar sistema de monitoramento\"\n  }\n}\n\nESCREVA APENAS O CORPO DO EMAIL COM ASSINATURA. NÃO INCLUA ASSUNTO\n\nSeguem as informações do caso:",
              "role": "system"
            },
            {
              "content": "={\n  \"nome_do_cliente\":  \"{{ $json.nome }}\",\n  \"cpf_do_cliente\": \"{{ $json.cpf }}\",\n  \"id_da_leitura\": \"{{ $json.id }}\",\n  \"data_da_leitura\": \"{{ $json.data_leitura }}\",\n  \"valor_da_leitura\": {{ $json.valor }},\n  \"motivo_do_problema\": \"{{ $json.motivo }}\",\n  \"id_do_contrato\": \"{{ $json.fk_contratos }}\",\n  \"data_de_inicio_do_contrato\": \"{{ $json.data_inicio }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        784,
        -160
      ],
      "id": "5000cef4-6a74-4a32-b777-8beb6393ad22",
      "name": "Mensagem Para Pessoas Físicas",
      "credentials": {
        "openAiApi": {
          "id": "0jnjFJ4NwNbzXhBO",
          "name": "My OpenAI Credential"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um sistema automático de avisos para clientes de uma empresa que fornece serviços de energia solar para outras empresas.\n\nUma leitura de um cliente foi identificada como um outlier e assim provavelmente foi uma falha ou erro.\n\nSeu dever é escrever um E-mail formal informando o cliente sobre o ocorrido. Para clareza e completude inclua informações para que o cliente entenda qual contrato causou a leitura e que leitura foi essa, inclua também possíveis explicações ou recomendações para o cliente com base no tipo de problema identificado na leitura.\n\nSeguem as informações para você assinar o email:\n{\n  \"nome_da_empresa\": \"Delfino Sunshine LTDA.\",\n  \"email_para_contato\": \"ajuda@delfino.com\",\n  \"telefone_para_contato\": \"\"+55 11 4002-8922\",\n  \"seu_nome\": \"Pianta\",\n  \"seu_cargo\": \"Robô\"\n}\n\nTipos de problemas nas leituras:\n{\n  \"leitura_muito_alta\": {\n    \"possiveis_motivos\": \"novas demandas, inversores com defeito\",\n    \"recomendacoes\": \"agendar ajuda técnica, contratação de maior capacidade\"\n  },\n  \"leitura_muito_baixa\": {\n    \"possiveis_motivos\": \"crescimento de vegetação, sujeira nos painéis, problemas na instalação, equipamentos danificados\",\n    \"recomendacoes\": \"agendar serviço de inspeção de paineis, agendar limpeza de paineis, agendar manutenção ou troca de equipamentos\"\n  },\n  \"leitura_vazia\": {\n    \"possíveis_motivos\": \"problemas de conectividade, inversor desligado ou com defeito, disjuntores desarmados\",\n    \"recomendacoes\": \"reiniciar sistema de monitoramento, agendar assistência técnica, encomendar novos equipamentos\"\n  }\n}\n\nESCREVA APENAS O CORPO DO EMAIL COM ASSINATURA. NÃO INCLUA ASSUNTO\n\nSeguem as informações do caso:",
              "role": "system"
            },
            {
              "content": "={\n  \"nome_da_empresa_cliente\":  \"{{ $json.nome }}\",\n  \"cnpj_do_cliente\": \"{{ $json.cnpj }}\",\n  \"id_da_leitura\": \"{{ $json.id }}\",\n  \"data_da_leitura\": \"{{ $json.data_leitura }}\",\n  \"valor_da_leitura\": {{ $json.valor }},\n  \"motivo_do_problema\": \"{{ $json.motivo }}\",\n  \"id_do_contrato\": \"{{ $json.fk_contratos }}\",\n  \"data_de_inicio_do_contrato\": \"{{ $json.data_inicio }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        832
      ],
      "id": "8030ae45-b184-4048-95b5-47d8c49c361c",
      "name": "Mensagem Para Pessoas Jurídicas",
      "credentials": {
        "openAiApi": {
          "id": "0jnjFJ4NwNbzXhBO",
          "name": "My OpenAI Credential"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        928
      ],
      "id": "5d74649d-1653-4f75-8341-b862ab82d7b1",
      "name": "Combina Endereço e Mensagem (J)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        -80
      ],
      "id": "bf9f5a7b-f54c-482d-8cff-ddcf696bb205",
      "name": "Combina Endereço e Mensagem (F)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "N_af",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        464
      ],
      "id": "17b667f1-e474-4fdc-9e28-5deda69395b1",
      "name": "COUNT AF",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "N_bf",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        592
      ],
      "id": "b4327eb1-ddca-4023-91f5-2389f924bf17",
      "name": "COUNT BF",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "N_nf",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        720
      ],
      "id": "d015cf3d-4292-4735-9540-d2d329b1855b",
      "name": "COUNT NF",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "N_aj",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        528
      ],
      "id": "f6f25624-3d93-4690-9be4-2abf57468c77",
      "name": "COUNT AJ",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "N_bj",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        656
      ],
      "id": "613a0d22-6795-4292-8514-017e4c26a89b",
      "name": "COUNT BJ",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "N_nj",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        800
      ],
      "id": "010ce129-7f09-4b77-896b-7368524d175f",
      "name": "COUNT NJ",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2848,
        192
      ],
      "id": "5bbfc09c-c1af-4cab-bf73-5edf4a360d23",
      "name": "ESPERA"
    },
    {
      "parameters": {
        "content": "## Envia emails",
        "height": 224,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1664,
        -160
      ],
      "id": "030df330-1ec1-41b2-9d4c-83beb66db2f2",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Gera Retorno",
        "height": 544,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        400
      ],
      "id": "42f80e25-d1c9-44b5-ad57-58543cca7661",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ERRO AO GERAR TEXTO PARA PESSOAS FÍSICAS\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        192
      ],
      "id": "70b9e84a-2f32-4a20-ba52-b058007d5eaa",
      "name": "RESPOSTA DE ERRO GERACAO_F"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ERRO AO ENVIAR EMAIL\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2208,
        192
      ],
      "id": "e52626b6-bd36-42de-b99c-34468804a54b",
      "name": "RESPOSTA DE ERRO ENVIO"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ERRO AO GERAR TEXTO PARA PESSOAS JURIDICAS\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1696,
        1040
      ],
      "id": "f7c3069a-351e-4b18-9c3f-85a2cbeed7f7",
      "name": "RESPOSTA DE ERRO GERACAO_J"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"leituras_pessoas_fisicas\": {\n    \"alto_de_mais\": {{ $json.N_af || 0 }},\n    \"baixo_de_mais\": {{ $json.N_bf || 0 }},\n    \"vazio\": {{ $json.N_nf || 0 }}\n  },\n  \"leituras_pessoas_juridicas\": {\n    \"alto_de_mais\": {{ $json.N_aj || 0 }},\n    \"baixo_de_mais\": {{ $json.N_bj || 0 }},\n    \"vazio\": {{ $json.N_nj || 0 }}\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3008,
        192
      ],
      "id": "5896e926-7484-4f06-b923-4f17a8f4e4cd",
      "name": "RESPOSTA"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "START",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontra Valores (F)": {
      "main": [
        [
          {
            "node": "Calcula Score (F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Score (F)": {
      "main": [
        [
          {
            "node": "Maior que 3 (F)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menor que -3 (F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menor que -3 (F)": {
      "main": [
        [
          {
            "node": "BAIXA(F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maior que 3 (F)": {
      "main": [
        [
          {
            "node": "ALTA(F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "Encontra Valores (F)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leituras Vazias (F)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Encontra Valores (J)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leituras Vazias (J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leituras Vazias (F)": {
      "main": [
        [
          {
            "node": "NULL(F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maior que 3 (F)1": {
      "main": [
        [
          {
            "node": "ALTA(J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menor que -3 (F)1": {
      "main": [
        [
          {
            "node": "BAIXA(J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "START",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontra Valores (J)": {
      "main": [
        [
          {
            "node": "Calcula Score (J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Score (J)": {
      "main": [
        [
          {
            "node": "Maior que 3 (F)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menor que -3 (F)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leituras Vazias (J)": {
      "main": [
        [
          {
            "node": "NULL(J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "ESPERA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOSTA DE ERRO ENVIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "ESPERA",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ALTA(F)": {
      "main": [
        [
          {
            "node": "LEITURAS(F)",
            "type": "main",
            "index": 0
          },
          {
            "node": "REROUTE-AF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAIXA(F)": {
      "main": [
        [
          {
            "node": "LEITURAS(F)",
            "type": "main",
            "index": 1
          },
          {
            "node": "REROUTE-BF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NULL(F)": {
      "main": [
        [
          {
            "node": "LEITURAS(F)",
            "type": "main",
            "index": 2
          },
          {
            "node": "REROUTE-NF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-NF": {
      "main": [
        [
          {
            "node": "COUNT NF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-BF": {
      "main": [
        [
          {
            "node": "COUNT BF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-AF": {
      "main": [
        [
          {
            "node": "COUNT AF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ALTA(J)": {
      "main": [
        [
          {
            "node": "LEITURAS(J)",
            "type": "main",
            "index": 0
          },
          {
            "node": "REROUTE-AJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAIXA(J)": {
      "main": [
        [
          {
            "node": "LEITURAS(J)",
            "type": "main",
            "index": 1
          },
          {
            "node": "REROUTE-BJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NULL(J)": {
      "main": [
        [
          {
            "node": "LEITURAS(J)",
            "type": "main",
            "index": 2
          },
          {
            "node": "REROUTE-NJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-NJ": {
      "main": [
        [
          {
            "node": "COUNT NJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-BJ": {
      "main": [
        [
          {
            "node": "COUNT BJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-AJ": {
      "main": [
        [
          {
            "node": "COUNT AJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEITURAS(F)": {
      "main": [
        [
          {
            "node": "Mensagem Para Pessoas Físicas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combina Endereço e Mensagem (F)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LEITURAS(J)": {
      "main": [
        [
          {
            "node": "Mensagem Para Pessoas Jurídicas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combina Endereço e Mensagem (J)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mensagem Para Pessoas Físicas": {
      "main": [
        [
          {
            "node": "Combina Endereço e Mensagem (F)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOSTA DE ERRO GERACAO_F",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Para Pessoas Jurídicas": {
      "main": [
        [
          {
            "node": "Combina Endereço e Mensagem (J)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOSTA DE ERRO GERACAO_J",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combina Endereço e Mensagem (J)": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combina Endereço e Mensagem (F)": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT AF": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT BF": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "COUNT NF": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "COUNT AJ": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "COUNT BJ": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "COUNT NJ": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "ESPERA": {
      "main": [
        [
          {
            "node": "RESPOSTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b28817d3-f546-4bb3-b3d7-836d4b90e5a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51be389492931e958da1ec3c4cc03c8044ac06dd89d9465126f3cdb442363742"
  },
  "id": "oU7ffq2ZXzxf6vsZ",
  "tags": []
}