containers/n8n/workflows/gerar_emails.json
{
  "name": "gerar_emails",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        -48
      ],
      "id": "81c4ead1-16a5-4b5f-a2ed-91dbf3f03159",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Encontra Valores Problemáticos",
        "height": 464,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -240
      ],
      "id": "485c6f64-6471-4c77-9d20-c3ca7ca8f0d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, c.*, cl.*, (l.valor - {{ $json.media }} ) / {{ $json.desvio }} AS score_z\nFROM leituras l\nINNER JOIN contratos c ON l.fk_contratos = c.id\nINNER JOIN clientes cl ON c.fk_cliente = cl.id\nWHERE cl.tipo = 'F' AND c.status = 'ativo'\n--So se calcula o score z dos contratos ativos",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        -144
      ],
      "id": "c7d913fc-de88-4bb0-9497-71cd02eb2684",
      "name": "Calcula Score (F)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT AVG(l.valor) AS media, STDDEV(l.valor) AS desvio\n  FROM leituras l\n  INNER JOIN contratos c ON l.fk_contratos = c.id\n  INNER JOIN clientes cl ON c.fk_cliente = cl.id\n  WHERE cl.tipo = 'F'\n--Os valores para analise estatistica sao de todos os contratos, ativos ou nao",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        -144
      ],
      "id": "4d296c3d-cd4e-4a7b-aee0-f672f3a07cc8",
      "name": "Encontra Valores (F)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "## Nota sobre Queries:\nA maior parte das queries para encontrar os outliers tanto para pessoas físicas quanto jurídicas, poderíam ser feitas em uma query só. Não só poderiam, como DEVERIAM. Seria tudo mais eficiente e rápido.\n\nEscolhi não fazer em menos queries de propósito para deixar explícito tanto o raciocínio, como também a forma de implementar esse tipo de lógica no próprio n8n de forma clara e compartimentada.\n\nNo fim das contas é um projeto um pouco mais didático\n",
        "height": 240,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2224,
        -336
      ],
      "id": "9381a552-0630-43c8-8d47-ed561d8bb0f4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3f1f527-b36b-454a-9cab-3ffecb1f18cd",
              "leftValue": "={{ parseFloat($json.score_z) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        128,
        -192
      ],
      "id": "d89e972a-3018-411c-a84a-1df360929062",
      "name": "Maior que 3 (F)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3f1f527-b36b-454a-9cab-3ffecb1f18cd",
              "leftValue": "={{ parseFloat($json.score_z)}}",
              "rightValue": -3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        128,
        -64
      ],
      "id": "43ba3dac-0ad2-40b5-bb9f-22422dc37a5c",
      "name": "Menor que -3 (F)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -592,
        336
      ],
      "id": "c315b0c0-0af5-4061-a89d-71c71ec06adf",
      "name": "START"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH stats AS (\n  SELECT \n    AVG(l.valor) AS media, \n    STDDEV(l.valor) AS desvio\n  FROM leituras l\n  INNER JOIN contratos c ON l.fk_contratos = c.id\n  INNER JOIN clientes cl ON c.fk_cliente = cl.id\n  WHERE cl.tipo = 'F' \n), outliers AS (\n  SELECT \n    l.*, \n    c.*, \n    cl.*, \n    (l.valor - stats.media ) / stats.desvio AS score_z\n  FROM leituras l\n  INNER JOIN contratos c ON l.fk_contratos = c.id\n  INNER JOIN clientes cl ON c.fk_cliente = cl.id\n  CROSS JOIN stats\n  WHERE cl.tipo = 'F' AND c.status = 'ativo'\n)\nSELECT \n  *,\n  CASE\n    WHEN score_z >=3 THEN 'grande_de_mais'\n    WHEN score_z <=-3 THEN 'pequeno_de_mais'\n    WHEN valor IS NULL THEN 'leitura_vazia'\n  END AS problema_do_outlier\nFROM outliers WHERE ABS(score_z) >= 3 OR valor IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2192,
        0
      ],
      "id": "df518bea-040b-4d30-93cb-1a980773eb4f",
      "name": "...",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "Exemplo com uma query única\n",
        "height": 208,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2224,
        -48
      ],
      "id": "1d48f35b-6888-497a-9973-d79bf23fd296",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, c.*, cl.*\nFROM leituras l\nINNER JOIN contratos c ON l.fk_contratos = c.id\nINNER JOIN clientes cl ON c.fk_cliente = cl.id\nWHERE c.status = 'ativo' AND cl.tipo = 'F' AND l.valor IS NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        64
      ],
      "id": "759d0da6-ea3a-4e19-82b6-6fec7c99ea79",
      "name": "Leituras Vazias (F)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "## Classifica Problemas",
        "height": 464,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -240
      ],
      "id": "c3a67d90-9eb7-4686-bb6a-d9eb1129527b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Pessoas Físicas",
        "height": 656,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -384
      ],
      "id": "b5254bb7-15a7-4c2e-8e4f-6f8a31ba687a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Prepara Emails",
        "height": 336,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -240
      ],
      "id": "7b1c2bec-a949-481f-8b37-d917ec6898f4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Encontra Valores Problemáticos",
        "height": 464,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        768
      ],
      "id": "4a17ffec-d9f6-45d8-8a74-2fe8d49006fb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3f1f527-b36b-454a-9cab-3ffecb1f18cd",
              "leftValue": "={{ parseFloat($json.score_z) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        112,
        816
      ],
      "id": "07c8eb1b-7033-4ea9-80ef-485dd02f52fd",
      "name": "Maior que 3 (F)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3f1f527-b36b-454a-9cab-3ffecb1f18cd",
              "leftValue": "={{ parseFloat($json.score_z)}}",
              "rightValue": -3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        112,
        944
      ],
      "id": "504fa675-8f57-4859-a25f-7aa74b6d4766",
      "name": "Menor que -3 (F)1"
    },
    {
      "parameters": {
        "content": "## Classifica Problemas",
        "height": 464,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        768
      ],
      "id": "ea7f4416-3cc6-4c49-9d74-2d6489747d56",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Pessoas Jurídicas",
        "height": 656,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        624
      ],
      "id": "497de5ee-53a4-4e7a-b217-72b633766721",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Prepara Emails",
        "height": 272,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        768
      ],
      "id": "c3bb41a6-8d49-4293-85b9-9c0cb08ba84f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "path": "gerar_emails",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1856,
        80
      ],
      "id": "d557381d-b91f-4019-9fd2-818044657072",
      "name": "Webhook",
      "webhookId": "ca5b8cf7-06ab-46a1-9c93-ceb7bc108ddb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT AVG(l.valor) AS media, STDDEV(l.valor) AS desvio\n  FROM leituras l\n  INNER JOIN contratos c ON l.fk_contratos = c.id\n  INNER JOIN clientes cl ON c.fk_cliente = cl.id\n  WHERE cl.tipo = 'J'\n--Os valores para analise estatistica sao de todos os contratos, ativos ou nao",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        864
      ],
      "id": "7762bc4c-fcc4-4124-b351-c618974d265b",
      "name": "Encontra Valores (J)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, c.*, cl.*, (l.valor - {{ $json.media }} ) / {{ $json.desvio }} AS score_z\nFROM leituras l\nINNER JOIN contratos c ON l.fk_contratos = c.id\nINNER JOIN clientes cl ON c.fk_cliente = cl.id\nWHERE cl.tipo = 'J' AND c.status = 'ativo'\n--So se calcula o score z dos contratos ativos",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        864
      ],
      "id": "01522982-9309-45f1-9a64-253971b5ae17",
      "name": "Calcula Score (J)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, c.*, cl.*\nFROM leituras l\nINNER JOIN contratos c ON l.fk_contratos = c.id\nINNER JOIN clientes cl ON c.fk_cliente = cl.id\nWHERE c.status = 'ativo' AND cl.tipo = 'J' AND l.valor IS NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        1072
      ],
      "id": "b8e58bd2-cfd4-4025-aacf-efd7aca6f987",
      "name": "Leituras Vazias (J)",
      "credentials": {
        "postgres": {
          "id": "pGudSjirfBdhsoiV",
          "name": "My Postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ajuda@delfino.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Problemas de Leitura",
        "emailFormat": "text",
        "text": "={{ $json.message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1904,
        -96
      ],
      "id": "eac817bb-27da-4016-a094-a996846b0baf",
      "name": "Send email",
      "webhookId": "cec38e24-75f2-4023-9180-9be0d39c9a8a",
      "credentials": {
        "smtp": {
          "id": "k2T1l7faWNq1h8dU",
          "name": "My SMTP Account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1712,
        -96
      ],
      "id": "9a0f9d59-c2e5-462b-b84a-7ad2944e16b0",
      "name": "Merge4"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        544
      ],
      "id": "e2722e0d-f817-432e-81c1-d54abcd2b7c6",
      "name": "Merge5",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_muito_alta",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $('Calcula Score (F)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $('Calcula Score (F)').item.json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $('Calcula Score (F)').item.json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $('Calcula Score (F)').item.json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $('Calcula Score (F)').item.json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $('Calcula Score (F)').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $('Calcula Score (F)').item.json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -192
      ],
      "id": "bd057653-e4b3-4ad7-9838-1045a689e85e",
      "name": "ALTA(F)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_muito_baixa",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $('Calcula Score (F)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $('Calcula Score (F)').item.json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $('Calcula Score (F)').item.json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $('Calcula Score (F)').item.json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $('Calcula Score (F)').item.json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $('Calcula Score (F)').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $('Calcula Score (F)').item.json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -64
      ],
      "id": "c6df809a-2e2c-441e-b109-cd07cc4f4693",
      "name": "BAIXA(F)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_vazia",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        64
      ],
      "id": "c25c13a6-2b38-45f1-bfc0-9e103aa87df5",
      "name": "NULL(F)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        288
      ],
      "id": "eb81841a-9366-4d5c-8527-cd3a636b64dd",
      "name": "REROUTE-NF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        288
      ],
      "id": "9dd84799-edc3-4654-97a5-6d4ff3ffa89d",
      "name": "REROUTE-BF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        288
      ],
      "id": "782c6bcb-ba1e-425f-b02d-39d57adc5f75",
      "name": "REROUTE-AF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        464
      ],
      "id": "373372f1-fa23-4265-a683-fff3ebde2616",
      "name": "REROUTE-AJ"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        464
      ],
      "id": "fb93ef8b-a264-4b20-85b6-96fcc3f0f7bf",
      "name": "REROUTE-BJ"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        464
      ],
      "id": "cc315ab9-3cbf-4fec-8702-db60f4bb3c56",
      "name": "REROUTE-NJ"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_muito_alta",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $('Calcula Score (J)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $('Calcula Score (J)').item.json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $('Calcula Score (J)').item.json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $('Calcula Score (J)').item.json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $('Calcula Score (J)').item.json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $('Calcula Score (J)').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $('Calcula Score (J)').item.json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        816
      ],
      "id": "ca7a5461-733a-4c24-94be-79054bd368b5",
      "name": "ALTA(J)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_muito_baixa",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $('Calcula Score (J)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $('Calcula Score (J)').item.json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $('Calcula Score (J)').item.json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $('Calcula Score (J)').item.json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $('Calcula Score (J)').item.json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $('Calcula Score (J)').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $('Calcula Score (J)').item.json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        944
      ],
      "id": "3c8ee840-11bb-4794-9960-91dbe5002e5a",
      "name": "BAIXA(J)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ce76ce-3c40-450a-ac4c-c3165da63a22",
              "name": "motivo",
              "value": "leitura_vazia",
              "type": "string"
            },
            {
              "id": "664b2d17-5820-43e8-8db7-12581d3e4895",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "20b6ef98-c82e-451b-b1f2-fc2b3f2f8503",
              "name": "fk_contratos",
              "value": "={{ $json.fk_contratos }}",
              "type": "string"
            },
            {
              "id": "451f6437-55b1-4007-a0a3-bbd522923e55",
              "name": "data_leitura",
              "value": "={{ $json.data_leitura }}",
              "type": "string"
            },
            {
              "id": "8bc720e3-f499-41d9-96f3-9ad6bef86ca7",
              "name": "valor",
              "value": "={{ $json.valor }}",
              "type": "string"
            },
            {
              "id": "dc4e6de1-061f-4105-aaf1-780ebcc5e2c5",
              "name": "data_inicio",
              "value": "={{ $json.data_inicio }}",
              "type": "string"
            },
            {
              "id": "082a230f-2615-4ef0-8b65-f0512b615fb4",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "e7afc255-7387-4d93-821a-6db924fee0d2",
              "name": "cpf",
              "value": "={{ $json.cpf }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1072
      ],
      "id": "6c97b70c-22ed-4d5c-b513-bb9f42a5603e",
      "name": "NULL(J)"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        -80
      ],
      "id": "7fcfdff4-0261-4cc9-a47e-af768095ac68",
      "name": "LEITURAS(F)"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        928
      ],
      "id": "34b63e68-5fb5-4d4f-bd43-b3b153e2c782",
      "name": "LEITURAS(J)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um sistema automático de avisos para clientes de uma empresa de energia solar.\n\nUma leitura de um cliente foi identificada como um outlier e assim provavelmente foi uma falha ou erro.\n\nSeu dever é escrever um E-mail simpático porém formal informando o cliente sobre o ocorrido. Para clareza e completude inclua informações para que o cliente entenda qual contrato causou a leitura e que leitura foi essa, inclua também possíveis explicações ou recomendações para o cliente com base no tipo de problema identificado na leitura.\n\nSeguem as informações para você assinar o email:\n{\n  \"nome_da_empresa\": \"Delfino Sunshine LTDA.\",\n  \"email_para_contato\": \"ajuda@delfino.com\",\n  \"telefone_para_contato\": \"\"+55 11 4002-8922\",\n  \"seu_nome\": \"Pianta\",\n  \"seu_cargo\": \"Robô\"\n}\n\nTipos de problemas nas leituras:\n{\n  \"leitura_muito_alta\": {\n    \"possiveis_motivos\": \"aparelhos novos, mudança de rotina, inversores com defeito\",\n    \"recomendacoes\": \"monitore o consumo diário, chamar ajuda técnica\"\n  },\n  \"leitura_muito_baixa\": {\n    \"possiveis_motivos\": \"objetos bloqueando painéis, crescimento de vegetação, sujeira nos painéis, cabos soltos, inversores com defeito, paineis danificados\",\n    \"recomendacoes\": \"inspecionar visualmente os paineis, agendar limpeza\"\n  },\n  \"leitura_vazia\": {\n    \"possíveis_motivos\": \"problemas de conectividade, inversor desligado ou com defeito, disjuntores desarmados, cabos desconectados\",\n    \"recomendacoes\": \"verificar se o inversor está ligado e conectado na WiFi, reiniciar sistema de monitoramento\"\n  }\n}\n\nESCREVA APENAS O CORPO DO EMAIL COM ASSINATURA. NÃO INCLUA ASSUNTO\n\nSeguem as informações do caso:",
              "role": "system"
            },
            {
              "content": "={\n  \"nome_do_cliente\":  \"{{ $json.nome }}\",\n  \"cpf_do_cliente\": \"{{ $json.cpf }}\",\n  \"id_da_leitura\": \"{{ $json.id }}\",\n  \"data_da_leitura\": \"{{ $json.data_leitura }}\",\n  \"valor_da_leitura\": {{ $json.valor }},\n  \"motivo_do_problema\": \"{{ $json.motivo }}\",\n  \"id_do_contrato\": \"{{ $json.fk_contratos }}\",\n  \"data_de_inicio_do_contrato\": \"{{ $json.data_inicio }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        784,
        -160
      ],
      "id": "5000cef4-6a74-4a32-b777-8beb6393ad22",
      "name": "Mensagem Para Pessoas Físicas",
      "credentials": {
        "openAiApi": {
          "id": "0jnjFJ4NwNbzXhBO",
          "name": "My OpenAI Credential"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um sistema automático de avisos para clientes de uma empresa que fornece serviços de energia solar para outras empresas.\n\nUma leitura de um cliente foi identificada como um outlier e assim provavelmente foi uma falha ou erro.\n\nSeu dever é escrever um E-mail formal informando o cliente sobre o ocorrido. Para clareza e completude inclua informações para que o cliente entenda qual contrato causou a leitura e que leitura foi essa, inclua também possíveis explicações ou recomendações para o cliente com base no tipo de problema identificado na leitura.\n\nSeguem as informações para você assinar o email:\n{\n  \"nome_da_empresa\": \"Delfino Sunshine LTDA.\",\n  \"email_para_contato\": \"ajuda@delfino.com\",\n  \"telefone_para_contato\": \"\"+55 11 4002-8922\",\n  \"seu_nome\": \"Pianta\",\n  \"seu_cargo\": \"Robô\"\n}\n\nTipos de problemas nas leituras:\n{\n  \"leitura_muito_alta\": {\n    \"possiveis_motivos\": \"novas demandas, inversores com defeito\",\n    \"recomendacoes\": \"agendar ajuda técnica, contratação de maior capacidade\"\n  },\n  \"leitura_muito_baixa\": {\n    \"possiveis_motivos\": \"crescimento de vegetação, sujeira nos painéis, problemas na instalação, equipamentos danificados\",\n    \"recomendacoes\": \"agendar serviço de inspeção de paineis, agendar limpeza de paineis, agendar manutenção ou troca de equipamentos\"\n  },\n  \"leitura_vazia\": {\n    \"possíveis_motivos\": \"problemas de conectividade, inversor desligado ou com defeito, disjuntores desarmados\",\n    \"recomendacoes\": \"reiniciar sistema de monitoramento, agendar assistência técnica, encomendar novos equipamentos\"\n  }\n}\n\nESCREVA APENAS O CORPO DO EMAIL COM ASSINATURA. NÃO INCLUA ASSUNTO\n\nSeguem as informações do caso:",
              "role": "system"
            },
            {
              "content": "={\n  \"nome_da_empresa_cliente\":  \"{{ $json.nome }}\",\n  \"cnpj_do_cliente\": \"{{ $json.cnpj }}\",\n  \"id_da_leitura\": \"{{ $json.id }}\",\n  \"data_da_leitura\": \"{{ $json.data_leitura }}\",\n  \"valor_da_leitura\": {{ $json.valor }},\n  \"motivo_do_problema\": \"{{ $json.motivo }}\",\n  \"id_do_contrato\": \"{{ $json.fk_contratos }}\",\n  \"data_de_inicio_do_contrato\": \"{{ $json.data_inicio }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        832
      ],
      "id": "8030ae45-b184-4048-95b5-47d8c49c361c",
      "name": "Mensagem Para Pessoas Jurídicas",
      "credentials": {
        "openAiApi": {
          "id": "0jnjFJ4NwNbzXhBO",
          "name": "My OpenAI Credential"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        928
      ],
      "id": "5d74649d-1653-4f75-8341-b862ab82d7b1",
      "name": "Combina Endereço e Mensagem (J)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        -80
      ],
      "id": "bf9f5a7b-f54c-482d-8cff-ddcf696bb205",
      "name": "Combina Endereço e Mensagem (F)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "count",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        464
      ],
      "id": "17b667f1-e474-4fdc-9e28-5deda69395b1",
      "name": "COUNT AF",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "count",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        528
      ],
      "id": "b4327eb1-ddca-4023-91f5-2389f924bf17",
      "name": "COUNT BF",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "count",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        592
      ],
      "id": "d015cf3d-4292-4735-9540-d2d329b1855b",
      "name": "COUNT NF",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"count\": \"{{ $input.all().length }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        656
      ],
      "id": "f6f25624-3d93-4690-9be4-2abf57468c77",
      "name": "COUNT AJ",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "count",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        720
      ],
      "id": "613a0d22-6795-4292-8514-017e4c26a89b",
      "name": "COUNT BJ",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993bab66-6c67-4cfe-b978-0f0c7f9c662e",
              "name": "count",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        784
      ],
      "id": "010ce129-7f09-4b77-896b-7368524d175f",
      "name": "COUNT NJ",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2848,
        192
      ],
      "id": "5bbfc09c-c1af-4cab-bf73-5edf4a360d23",
      "name": "ESPERA"
    },
    {
      "parameters": {
        "content": "## Envia emails",
        "height": 224,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1664,
        -160
      ],
      "id": "030df330-1ec1-41b2-9d4c-83beb66db2f2",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Gera Retorno",
        "height": 544,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        400
      ],
      "id": "42f80e25-d1c9-44b5-ad57-58543cca7661",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ERRO AO GERAR TEXTO PARA PESSOAS FÍSICAS\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        192
      ],
      "id": "70b9e84a-2f32-4a20-ba52-b058007d5eaa",
      "name": "RESPOSTA DE ERRO GERACAO_F"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ERRO AO ENVIAR EMAIL\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2208,
        192
      ],
      "id": "e52626b6-bd36-42de-b99c-34468804a54b",
      "name": "RESPOSTA DE ERRO ENVIO"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ERRO AO GERAR TEXTO PARA PESSOAS JURIDICAS\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1696,
        1040
      ],
      "id": "f7c3069a-351e-4b18-9c3f-85a2cbeed7f7",
      "name": "RESPOSTA DE ERRO GERACAO_J"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"leituras_pessoas_fisicas\": {\n    \"alto_de_mais\": {{ $json.count[0] }},\n    \"baixo_de_mais\": {{ $json.count[1] }},\n    \"vazio\": {{ $json.count[2] }}\n  },\n  \"leituras_pessoas_juridicas\": {\n    \"alto_de_mais\": {{ $json.count[3] }},\n    \"baixo_de_mais\": {{ $json.count[4] }},\n    \"vazio\": {{ $json.count[5] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3008,
        192
      ],
      "id": "5896e926-7484-4f06-b923-4f17a8f4e4cd",
      "name": "RESPOSTA"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "count"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2192,
        608
      ],
      "id": "082c8d03-9668-4b8b-a7f9-852313bce6e6",
      "name": "Aggregate",
      "executeOnce": false
    }
  ],
  "pinData": {
    "Mensagem Para Pessoas Físicas": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado Senhor Rodrigo Fernandes Cunha,\n\nEspero que este e-mail o encontre bem. \n\nEstamos entrando em contato para informá-lo sobre uma leitura identificada em seu contrato de fornecimento de energia solar (ID do contrato: 2) realizada no dia 24 de maio de 2025. O valor da leitura foi de 98.028, um número considerado muito alto e que pode indicar uma anomalia, possivelmente devido a um erro de leitura, ou a fatores como aparelhos novos, mudança de rotina, ou ainda inversores com defeito.\n\nPara entender melhor o que pode ter ocorrido, sugerimos que você monitore seu consumo diário. Caso tenha percebido alguma alteração significativa em sua rotina ou a instalação de novos aparelhos, isso pode explicar a leitura elevada. \n\nAdicionalmente, recomendamos que, se você suspeitar de problemas técnicos, entre em contato com nossa equipe para solicitar assistência técnica. Estamos aqui para ajudar.\n\nSe precisar de mais informações ou apoio, não hesite em nos contactar.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \najuda@delfino.com  \n+55 11 4002-8922  ",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado João Souza Rocha,\n\nEsperamos que você esteja bem. \n\nIdentificamos uma leitura de energia solar referente ao seu contrato de número 5, datada de 20 de fevereiro de 2027, com um valor de 93.883. Essa leitura foi classificada como um outlier, ou seja, está acima do esperado e, portanto, pode indicar um erro ou uma falha na medição.\n\nAs leituras muito altas podem ocorrer por diversos motivos, entre eles: a instalação de aparelhos novos, mudanças na rotina da sua casa ou até problemas com os inversores. Para evitar possíveis surpresas na sua fatura, sugerimos que você monitore seu consumo diário e, se necessário, considere chamar a ajuda técnica para uma avaliação mais detalhada.\n\nCaso tenha alguma dúvida ou precise de assistência, não hesite em nos contatar.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \nEmail: ajuda@delfino.com  \nTelefone: +55 11 4002-8922  ",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado Sr. João Souza Rocha,\n\nEspero que esta mensagem o encontre bem!\n\nEstamos entrando em contato para informá-lo sobre uma leitura identificada em seu sistema de energia solar que foi considerada um outlier. Na leitura realizada em 5 de julho de 2027, observamos um valor de 87.108, que está significativamente acima do esperado para o seu contrato de número 5, iniciado em 9 de maio de 2025.\n\nEsse tipo de anomalia pode ocorrer por alguns motivos, como a instalação de aparelhos novos, mudanças em sua rotina de consumo ou até mesmo problemas nos inversores. Para garantir que tudo esteja funcionando corretamente, recomendamos que você monitore seu consumo diário e, caso a leitura se mantenha elevada, considere chamar uma assistência técnica para verificar possíveis falhas em seu sistema.\n\nCaso tenha mais dúvidas ou precise de ajuda, não hesite em nos contatar. Estamos à disposição para assisti-lo.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \najuda@delfino.com  \n+55 11 4002-8922",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezada Larissa Ferreira Dias,\n\nEspero que você esteja bem!\n\nRecentemente identificamos que a leitura do seu sistema de energia solar, referente ao seu contrato (ID: 6) e realizada no dia 13 de janeiro de 2026, apresentou um valor de 81.415, o que é considerado uma leitura muito alta. Isso pode indicar uma anomalia que merece a sua atenção.\n\nAs possíveis causas para essa leitura elevada incluem a instalação recente de aparelhos que consomem mais energia, uma mudança na rotina de consumo, ou até mesmo um problema técnico, como um inversor com defeito. \n\nRecomendamos que você monitore o seu consumo diário para verificar se essa alta persistir. Além disso, pode ser útil entrar em contato com um profissional técnico para inspecionar seu sistema e garantir que tudo esteja funcionando corretamente.\n\nCaso precise de assistência ou tenha alguma dúvida, não hesite em nos contatar. Estamos aqui para ajudar!\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \najuda@delfino.com  \n+55 11 4002-8922",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado Sr. Paulo Mendes Barbosa,\n\nEsperamos que esteja bem!\n\nNa última leitura registrada no dia 3 de fevereiro de 2025, identificamos um valor de 96.388 kWh, que se apresenta como um outlier em relação ao seu histórico de consumo. Essa discrepância pode indicar uma leitura muito alta, possivelmente causada por novos aparelhos, uma mudança na rotina de consumo ou até um defeito no inversor.\n\nRecomendamos que você monitore seu consumo diário para verificar se há realmente um aumento significativo. Caso você note uma fatura muito alta sem justificativa, sugerimos que entre em contato com nossa equipe técnica, a qual poderá oferecer ajuda detalhada.\n\nSe precisar de qualquer orientação adicional, não hesite em nos contatar pelo e-mail ajuda@delfino.com ou pelo telefone +55 11 4002-8922.\n\nAgradecemos pela sua compreensão e continuamos à disposição.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Caro Leonardo Cavalcanti Silva,\n\nEsperamos que você esteja bem!\n\nEstamos entrando em contato para informar sobre uma anomalia detectada em sua leitura de energia solar registrada em 16 de janeiro de 2028. O valor da leitura foi de 85.794 kWh, que é consideravelmente alto e aponta para um possível erro em nosso sistema.\n\nEste problema está relacionado ao seu contrato de energia solar, que começou em 5 de fevereiro de 2025. Altas leituras como essa podem ocorrer devido a algumas razões, como a instalação de novos aparelhos, mudanças na sua rotina diária ou, em alguns casos, possíveis defeitos nos inversores.\n\nRecomendamos que você monitore o seu consumo diário nos próximos dias e, se notar qualquer anomalia, não hesite em nos contatar. Se necessário, sugerimos que você busque assistência técnica para verificar a condição do seu sistema.\n\nSe precisar de qualquer ajuda ou tiver dúvidas, nossa equipe de suporte está à disposição através do e-mail ajuda@delfino.com ou pelo telefone +55 11 4002-8922.\n\nAgradecemos a sua compreensão e estamos aqui para ajudar!\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado Leonardo Cavalcanti Silva,\n\nEspero que este e-mail o encontre bem. \n\nGostaria de informá-lo que uma das leituras do seu sistema de energia solar, registrada no dia 3 de novembro de 2025, apresentou um valor de 102.314 kWh, o que foi identificado como uma leitura muito alta. Esta ocorrência pode ser um indicativo de uma falha ou erro no registro, e seu Contrato nº 9, que teve início em 5 de fevereiro de 2025, está associado a essa leitura.\n\nAs possíveis causas para essa leitura elevada incluem a introdução de novos aparelhos em sua residência, uma mudança significativa em sua rotina ou até mesmo algum problema com o inversor. Para garantir que tudo esteja funcionando corretamente, recomendamos que você:\n\n- Monitore o seu consumo diário nos próximos dias para identificar qualquer anomalia.\n- Caso perceba algo suspeito, sugerimos que entre em contato com nossa equipe técnica para uma avaliação mais detalhada.\n\nEstamos à disposição para ajudá-lo em qualquer situação. Se precisar de mais informações ou tiver dúvidas, não hesite em nos contatar pelo e-mail ajuda@delfino.com ou pelo telefone +55 11 4002-8922.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado Gabriel Martins Lima,\n\nEsperamos que você esteja bem! \n\nEstamos entrando em contato para informar que a leitura referente ao seu contrato de energia solar, identificado pelo ID 1, realizada no dia 28 de maio de 2026, apresentou um valor considerado muito baixo, com um total de 17.208. Esse tipo de leitura pode indicar algumas possíveis situações, como objetos bloqueando os painéis solares, crescimento de vegetação, sujeira acumulada nos módulos, cabos soltos, inversores com defeito ou até mesmo painéis danificados.\n\nPara garantir o melhor desempenho do seu sistema, recomendamos que você realize uma inspeção visual nos painéis solares. Verifique se há obstruções ou sujeira que possam estar afetando a captação de energia. Além disso, considere agendar uma limpeza dos painéis, se necessário.\n\nSe precisar de assistência adicional ou se suspeitar de problemas mais sérios, não hesite em nos contatar. Estamos aqui para ajudar!\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \najuda@delfino.com  \n+55 11 4002-8922  ",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado Rodrigo Fernandes Cunha,\n\nEspero que esteja bem!\n\nGostaríamos de lhe informar que, durante nossa análise de leitura, identificamos uma anomalia na medição do seu sistema de energia solar referente ao contrato nº 2, com início em 07 de dezembro de 2024. A leitura registrada no dia 14 de julho de 2027 foi de 9.327 kWh, o que é consideravelmente baixo em comparação com os padrões normais.\n\nEsse tipo de leitura, classificada como \"muito baixa\", pode ser resultado de algumas situações, como objetos bloqueando os painéis, crescimento de vegetação, sujeira acumulada, cabos soltos, inversores com defeito ou até mesmo danos nos painéis.\n\nPara solucionar este problema, recomendamos que você:\n\n1. Faça uma inspeção visual nos painéis solares, garantindo que não haja obstruções ou sujeira que possam estar afetando a captação de luz.\n2. Agende uma limpeza dos painéis se necessário, para otimizar seu desempenho.\n3. Confira se os cabos estão conectados corretamente e se não há sinais de danos.\n\nSe a situação persistir ou se você precisar de ajuda técnica, não hesite em nos contactar através do e-mail ajuda@delfino.com ou pelo telefone +55 11 4002-8922.\n\nEstamos aqui para ajudar!\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado Sr. Paulo Mendes Barbosa,\n\nEspero que este e-mail o encontre bem.\n\nEstamos entrando em contato para informá-lo sobre uma leitura de sua unidade que foi identificada como um outlier, referencia à sua última medição realizada no dia 02 de novembro de 2022, onde o valor registrado foi de 11.974 kWh. Essa leitura é considerada muito baixa em comparação com os padrões usuais.\n\nEssa ocorrência pode ser atribuída a alguns fatores, como objetos obstruindo os painéis solares, o crescimento de vegetação ao redor, sujeira nos módulos, cabos soltos, inversores com defeito ou até mesmo painéis danificados.\n\nPara resolver essa situação, recomendamos que você realize uma inspeção visual dos painéis solares para identificar qualquer bloqueio ou sujeira. Além disso, pode ser necessário agendar uma limpeza.\n\nEstamos à disposição para ajudá-lo com qualquer dúvida que você tiver ou se precisar de assistência técnica. Você pode nos contatar através do e-mail ajuda@delfino.com ou pelo telefone +55 11 4002-8922.\n\nAgradecemos sua atenção e estamos aqui para garantir que seu sistema solar opere de maneira eficiente.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "Mensagem Para Pessoas Jurídicas": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado(a) cliente da Energy ME,\n\nEspero que esteja bem.\n\nEstamos entrando em contato para comunicar que a leitura referente ao seu contrato (ID: 35), datada de 13 de agosto de 2026, apresentou um valor considerado muito baixo, totalizando 3.964. Esse valor pode indicar um problema no sistema de geração de energia solar.\n\nAs possíveis causas para essa leitura anômala incluem: crescimento de vegetação ao redor dos painéis solares, sujeira acumulada nos módulos, problemas na instalação, ou até mesmo equipamentos danificados. Recomendamos que sejam tomadas as seguintes providências:\n\n1. Agendar um serviço de inspeção dos painéis para verificar se há obstruções causadas por vegetação ou sujeira.\n2. Se necessário, agendar uma limpeza dos painéis solares para garantir que o sistema esteja operando na sua máxima eficiência.\n3. Caso identifique problemas na instalação ou equipamentos danificados, sugerimos a agendamento de manutenção ou troca dos equipamentos.\n\nPor favor, entre em contato pelo telefone +55 11 4002-8922 ou pelo e-mail ajuda@delfino.com para agendar esses serviços ou esclarecer quaisquer dúvidas.\n\nAgradecemos pela sua atenção e ficamos à disposição para ajudar.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado(a) representante da Energy ME,\n\nEsperamos que este e-mail o(a) encontre bem.\n\nEstamos entrando em contato para informar que, em nossa análise das leituras de energia solar referentes ao seu contrato (ID: 35), identificamos uma discrepância que classifica a leitura realizada no dia 03 de junho de 2027, com um valor de 19.590, como uma leitura muito baixa.\n\nEsse tipo de leitura anômala pode ser causado por vários fatores, como o crescimento de vegetação ao redor dos painéis, sujeira acumulada nos mesmos, problemas na instalação ou até mesmo equipamentos danificados. Para garantir que sua instalação funcione de maneira eficiente e segura, recomendamos que você considere as seguintes ações:\n\n1. Agendar um serviço de inspeção dos painéis.\n2. Agendar a limpeza dos painéis para remover qualquer sujeira que possa estar afetando a geração de energia.\n3. Verificar a necessidade de manutenção ou troca de equipamentos que possam estar comprometidos.\n\nEstamos à disposição para ajudá-lo(a) em qualquer um desses procedimentos. Para agendar serviços ou tirar dúvidas, não hesite em nos contatar através do número +55 11 4002-8922 ou do e-mail ajuda@delfino.com.\n\nAgradecemos pela sua atenção e pela confiança em nossos serviços.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado(a) responsável da Volt do Brasil EIRELI,\n\nEsperamos que este e-mail o encontre bem. \n\nEstamos entrando em contato para informar que a leitura de medição referente ao contrato de serviço sob o ID 19, datada de 5 de janeiro de 2026, foi identificada como uma leitura vazia. Isso pode ter ocorrido devido a problemas de conectividade, inversor desligado ou com defeito, ou disjuntores desarmados.\n\nPara resolver essa situação, recomendamos as seguintes ações:\n\n1. Reiniciar o sistema de monitoramento.\n2. Caso o problema persista, agendar uma assistência técnica para uma análise mais detalhada do sistema.\n3. Considerar a encomenda de novos equipamentos, caso os atuais estejam apresentando falhas.\n\nÉ importante fornecer um sistema de monitoramento eficaz para assegurar que o seu sistema de energia solar opere com eficiência.\n\nEstamos à disposição para qualquer esclarecimento e ajuda que você possa necessitar. Por favor, não hesite em nos contatar.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \najuda@delfino.com  \n+55 11 4002-8922  ",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado(a) cliente Energy ME,\n\nEsperamos que este e-mail o(a) encontre bem.\n\nEstamos entrando em contato para informá-lo(a) sobre uma anomalia na leitura de energia solar referente ao seu contrato de número 35, iniciado em 13 de outubro de 2025. A leitura realizada em 13 de janeiro de 2026 (ID: 17) foi identificada como uma leitura vazia, o que pode indicar problemas de conectividade, um inversor desligado ou com defeito, ou até mesmo disjuntores desarmados.\n\nRecomendamos as seguintes ações para resolver a situação:\n\n1. **Reiniciar o sistema de monitoramento**, caso isso ainda não tenha sido feito.\n2. **Agendar uma assistência técnica** para garantir que todos os componentes do sistema estejam funcionando corretamente.\n3. **Encomendar novos equipamentos** se for identificado que há um problema irreparável com os atuais.\n\nFicamos à disposição para auxiliá-lo(a) em qualquer um desses processos. Para agendamentos ou mais informações, não hesite em entrar em contato.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \najuda@delfino.com  \n+55 11 4002-8922",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado(a) cliente,\n\nEstamos entrando em contato para informar sobre uma anomalia identificada na leitura do seu sistema de energia solar, referente ao contrato de número 42 e datado de início em 3 de março de 2023. A leitura realizada no dia 17 de janeiro de 2024 (ID da leitura: 19) apresentou um valor vazio, o que indica um possível problema que requer atenção.\n\nAs causas mais comuns para o registro de uma leitura vazia incluem problemas de conectividade, inversor desligado ou com defeito, ou disjuntores desarmados. Para garantir que seu sistema voltará a funcionar de maneira correta e eficiente, recomendamos que você tome as seguintes providências:\n\n1. Reinicie o sistema de monitoramento para verificar se a leitura se normaliza.\n2. Caso o problema persista, sugere-se agendar assistência técnica para uma avaliação detalhada do sistema.\n3. Em situações onde a manutenção for necessária, considere a possibilidade de encomendar novos equipamentos, caso se verifique que os existentes necessitam de troca.\n\nEstamos à disposição para ajudar com o que você precisar. Por favor, não hesite em entrar em contato conosco.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \najuda@delfino.com  \n+55 11 4002-8922",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      },
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Prezado(a) representante da Energia Solar EIRELI,\n\nEspero que este e-mail o(a) encontre bem. \n\nGostaríamos de informar que uma leitura de seu sistema de energia solar, realizada no dia 4 de maio de 2026, foi identificada como uma leitura vazia. A leitura em questão refere-se ao contrato de número 44, que teve início em 13 de fevereiro de 2025.\n\nAs leituras vazias podem ser causadas por problemas de conectividade, inversores desligados ou com defeito, ou ainda disjuntores desarmados. Recomendamos que algumas ações sejam tomadas para solucionar este problema:\n\n1. Reiniciar o sistema de monitoramento.\n2. Agendar uma assistência técnica para verificar as condições do equipamento.\n3. Considerar a encomenda de novos equipamentos, caso os atuais não estejam funcionando corretamente.\n\nSe precisar de assistência adicional ou quiser agendar um atendimento, não hesite em nos contatar.\n\nAtenciosamente,\n\nPianta  \nRobô  \nDelfino Sunshine LTDA.  \najuda@delfino.com  \n+55 11 4002-8922",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "START",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontra Valores (F)": {
      "main": [
        [
          {
            "node": "Calcula Score (F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Score (F)": {
      "main": [
        [
          {
            "node": "Maior que 3 (F)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menor que -3 (F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menor que -3 (F)": {
      "main": [
        [
          {
            "node": "BAIXA(F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maior que 3 (F)": {
      "main": [
        [
          {
            "node": "ALTA(F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "Encontra Valores (F)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leituras Vazias (F)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Encontra Valores (J)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leituras Vazias (J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leituras Vazias (F)": {
      "main": [
        [
          {
            "node": "NULL(F)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maior que 3 (F)1": {
      "main": [
        [
          {
            "node": "ALTA(J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menor que -3 (F)1": {
      "main": [
        [
          {
            "node": "BAIXA(J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "START",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontra Valores (J)": {
      "main": [
        [
          {
            "node": "Calcula Score (J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Score (J)": {
      "main": [
        [
          {
            "node": "Maior que 3 (F)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menor que -3 (F)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leituras Vazias (J)": {
      "main": [
        [
          {
            "node": "NULL(J)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "ESPERA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOSTA DE ERRO ENVIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ALTA(F)": {
      "main": [
        [
          {
            "node": "LEITURAS(F)",
            "type": "main",
            "index": 0
          },
          {
            "node": "REROUTE-AF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAIXA(F)": {
      "main": [
        [
          {
            "node": "LEITURAS(F)",
            "type": "main",
            "index": 1
          },
          {
            "node": "REROUTE-BF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NULL(F)": {
      "main": [
        [
          {
            "node": "LEITURAS(F)",
            "type": "main",
            "index": 2
          },
          {
            "node": "REROUTE-NF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-NF": {
      "main": [
        [
          {
            "node": "COUNT NF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-BF": {
      "main": [
        [
          {
            "node": "COUNT BF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-AF": {
      "main": [
        [
          {
            "node": "COUNT AF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ALTA(J)": {
      "main": [
        [
          {
            "node": "LEITURAS(J)",
            "type": "main",
            "index": 0
          },
          {
            "node": "REROUTE-AJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAIXA(J)": {
      "main": [
        [
          {
            "node": "LEITURAS(J)",
            "type": "main",
            "index": 1
          },
          {
            "node": "REROUTE-BJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NULL(J)": {
      "main": [
        [
          {
            "node": "LEITURAS(J)",
            "type": "main",
            "index": 2
          },
          {
            "node": "REROUTE-NJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-NJ": {
      "main": [
        [
          {
            "node": "COUNT NJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-BJ": {
      "main": [
        [
          {
            "node": "COUNT BJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REROUTE-AJ": {
      "main": [
        [
          {
            "node": "COUNT AJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEITURAS(F)": {
      "main": [
        [
          {
            "node": "Mensagem Para Pessoas Físicas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combina Endereço e Mensagem (F)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LEITURAS(J)": {
      "main": [
        [
          {
            "node": "Mensagem Para Pessoas Jurídicas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combina Endereço e Mensagem (J)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mensagem Para Pessoas Físicas": {
      "main": [
        [
          {
            "node": "Combina Endereço e Mensagem (F)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOSTA DE ERRO GERACAO_F",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Para Pessoas Jurídicas": {
      "main": [
        [
          {
            "node": "Combina Endereço e Mensagem (J)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOSTA DE ERRO GERACAO_J",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combina Endereço e Mensagem (J)": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combina Endereço e Mensagem (F)": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT AF": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT BF": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "COUNT NF": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "COUNT AJ": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "COUNT BJ": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "COUNT NJ": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "ESPERA": {
      "main": [
        [
          {
            "node": "RESPOSTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESPOSTA": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "ESPERA",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98b44d7e-7bcf-445b-abe4-7fc2860bd799",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51be389492931e958da1ec3c4cc03c8044ac06dd89d9465126f3cdb442363742"
  },
  "id": "oU7ffq2ZXzxf6vsZ",
  "tags": []
}